

<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="bananaImages" src="assets/bananas2.jpg" alt="Bananas">
      <div class="carousel-caption">
        <h3>Make bananas great again</h3>
        <p>Great times with bananas!</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="bananaImages" src="assets/bananas3.jpg" alt="Bananas">
      <div class="carousel-caption">
        <h3>Awesome Bananas</h3>
        <p>Thank you, Banana!</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="bananaImages" src="assets/bananas4.jpg" alt="Bananas">
      <div class="carousel-caption">
        <h3>Just yellow</h3>
        <p>We love Bananas!</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon carousel-arrows"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon carousel-arrows"></span>
  </a>
</div>



<hr>


<br>
<br>
<br>
<br>
<div class="row">
  <div class="item" data-aos="zoom-in">
    A banana is an edible fruit – botanically a berry[1][2] – produced by several kinds of large herbaceous flowering plants in the genus Musa.[3]
    In some countries, bananas used for cooking may be called plantains, in contrast to dessert bananas.
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row">
  <div class="item" data-aos="flip-up">
    The fruit is variable in size, color, and firmness, but is usually elongated and curved, with soft flesh rich in starch covered with a rind,
    which may be green, yellow, red, purple, or brown when ripe. The fruits grow in clusters hanging from the top of the plant.
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row">
  <div class="item" data-aos="flip-down">
    Almost all modern edible parthenocarpic (seedless) bananas come from two wild species – Musa acuminata and Musa balbisiana. The scientific names of most cultivated bananas
    are Musa acuminata, Musa balbisiana, and Musa × paradisiaca for the hybrid Musa acuminata × M. balbisiana, depending on their genomic constitution. The old scientific name Musa sapientum is no longer used.
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row">
  <div class="item" data-aos="flip-right">
    Musa species are native to tropical Indomalaya and Australia, and are likely to have been first domesticated in Papua New Guinea.[4][5] They are grown in 135 countries,[6] primarily for their fruit,
    and to a lesser extent to make fiber, banana wine, and banana beer and as ornamental plants.
  </div>
</div>
<br>
<br>
<br>
<br>
<br>


<div class="jumbotron" data-aos="fade-up" data-aos-duration="100">
  <h1>History</h1>
  <p>Farmers in Southeast Asia and Papua New Guinea first domesticated bananas. Recent archaeological and palaeoenvironmental evidence at Kuk Swamp in the Western Highlands Province of
    Papua New Guinea suggests that banana cultivation there goes back to at least 5000 BCE, and possibly to 8000 BCE.[4][43] It is likely that other species were later and independently domesticated
    elsewhere in Southeast Asia. Southeast Asia is the region of primary diversity of the banana. Areas of secondary diversity are found in Africa, indicating a long history of banana cultivation in the region.[44]</p>
</div>


