{{> header }}
<div class="container">
  <h2>Login</h2>


	<div class="container">



			{{# if message }}
				<div class="alert alert-danger">{{ message }}</div>
			{{/if}}


			<form id="loginForm" action="/login/submit" method="post">
				<div class="input">
					<label for="username">E-Mail</label>
					<input class="form-control" type="text" id="username" name="username">
				</div>

				<div class="input">
					<label for="password">Passwort</label>
					<input class="form-control" type="password" id="password" name="password">
				</div>
				<button class="btn btn-primary" type="submit">Sign up</button>


			</form>

</div>

<script type="text/javascript" src="/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="/javascripts/validation.js"></script>



