


<div class = "col-xs-12" style="background-image: url('images/wallpaper22.jpg');  background-size:cover;">


    </br>
    <div class="text-center">
        <h2 class="captionSliderCv">Certificates</h2>
    </div>
    </br>
    </br>



    <div class="containerCertificates text-center">
        <div class="col-sm-12 col-xs-12">

            <div class="headCert" id="1">
                <h3>University</h3>
            </div>

            <div class="container-fluid">
                <div id="objectCert1" class="lineAndTextCert">
                    <h4>University Degrees</h4>
                        <li><a href="/files/certificates/PoliticsDegree.pdf">Bachelor Degree Politics</a></li></br>
                        <li><a href="/files/certificates/EconometricsDegree.pdf">Bachelor Degree Economics</a></li></br>
                        <li><a href="/files/certificates/MasterDegree.pdf">Master Degree Business Economics</a></li></br>

                    <h4>University Thesis</h4>
                        <li><a href="/files/certificates/Michael_Meier_Bachelorarbeit.pdf">Bachelor Thesis: Politökonomische Interdependenzen - Indonesiens Weg zur Open Access Order</a></li></br>
                        <li><a href="/files/certificates/Michael Meier_Mehrfaktorenmodelle der Portfolio- und Kapitalmarkttheorie im Vergleich.pdf">Bachelor Thesis: CAPM - Mehrfaktorenmodelle der Portfolio- und Kapitalmarkttheorie im Vergleich</a></li></br>
                        <li><a href="/files/certificates/Thesis_MichaelMeier.pdf">Master Thesis: Data and Text Mining in Financial Markets - Classical Time Series And Modern Machine Learning Techniques Applied To Forecast Foreign Exchange Rates</a></li></br>

                    <h4>University Letter of References</h4>
                        <li><a href="/files/certificates/LoR1.pdf">Letter of Reference 1</a></li></br>
                        <li><a href="/files/certificates/LoR2.pdf">Letter of Reference 2</a></li></br>
                        <li><a href="/files/certificates/LoR3.pdf">Letter of Reference 3</a></li></br>

                    <h4>University Risk Management</h4>
                        <li><a href="/files/certificates/Risikomanagement.pdf">Riskmanagement</a></li></br>

                    <h4>University Seminar Papers</h4>
                        <li><a href="/files/certificates/Paneldaten-Schätzmethoden_Michael-Meier.pdf">Seminar-Paper: Paneldatenschätzmethoden und ihre Anwedung bei der Bestimmung der Einflussfaktoren auf Länderratings</a></li></br>
                        <li><a href="/files/certificates/HA_MeierMichael.pdf">Seminar-Paper: Kontextfaktoren, Mechanismen und Auswirkungen der Finanzkrise Asiens - Thailand, Indonesien, Malaysia und Südkorea</a></li></br>
                        <li><a href="/files/certificates/AidandUNGA_MichaelMeier.pdf">Seminar-Paper: Beeinflusst die Vergabe von Entwicklungshilfegeldern das Abstimmungsverhalten der Generalversammlung der Vereinten Nationen?</a></li></br>
                        <li><a href="/files/certificates/AlQaida-Oganisation-Netzwerk-NetzausNetzwerken.pdf">Seminar-Paper: Al Qaida - Von der Organisation zum Netzwerk zum "Netz von Netzwerken"</a></li></br>

                    <h4>English</h4>
                        <li><a href="/files/certificates/TOFL.pdf">TOFL Test</a></li></br>

                </div>
            </div>


            <div class="headCert" id="2">
                <h3>Working Experience</h3>
            </div>
            <div class="container-fluid">
                <div id="objectCert2" class="lineAndTextCert">
                        <li><a href="/files/certificates/PwcInternship1.pdf" download>PwC Risk Management</a></li></br>
                        <li><a href="/files/certificates/LBBWInternship.pdf" download>LBBW Souvereign Risk</a></li></br>
                        <li><a href="/files/certificates/PwCInternship2.pdf" download>PwC Risk Management</a></li></br>

                </div>
            </div>


            <div class="headCert" id="3">
                <h3>Programming</h3>
            </div>
            <div class="container-fluid">
                <div id="objectCert3" class="lineAndTextCert">
                    <h4>RPA</h4>
                        <li><a href="/files/certificates/UiPath RPA Developer Foundation.pdf">UiPath: RPA Developer Foundation</a></li></br>
                        <li><a href="/files/certificates/UiPath RPA Developer Advanced Training.pdf">UiPath: RPA Developer Advanced Training</a></li></br>
                        <li><a href="/files/certificates/UiPath Orchestrator Training.pdf">UiPath: RPA Orchestrator Training</a></li></br>
                        <li><a href="/files/certificates/UiPath RPA Developer SAP Automation Training.pdf">UiPath: RPA Developer SAP Automation</a></li></br>
                        <li><a href="/files/certificates/AA Advanced E-Learning Course.pdf">Automation Anywhere: Advanced E-Learning Course</a></li></br>
                        <li><a href="/files/certificates/AA Certified Advanced RPA Professional.pdf">Automation Anywhere: Certified Advanced RPA Professional</a></li></br>

                    <h4>Data science</h4>
                        <li><a href="#">R</a></li></br>
                        <li><a href="#">Python</a></li></br>
                        <!--<li><a href="/certificates/ml">Maschine Learning</a></li></br>-->


                    <h4>Front End</h4>
                        <li><a href="#">CSS</a></li></br>
                        <li><a href="#">Javascript</a></li></br>

                    <h4>Backend</h4>
                        <li><a href="#">Nodejs</a></li></br>
                        <li><a href="#">SQL</a></li></br>
                </div>
            </div>
        </div>
    </div>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>


</div>