
<div class = "col-xs-12" style="background-image: url('images/wallpaper7.jpg');  background-size:cover;">


        <div class="containerCertificates" style="text-align: right">
            <div class="col-sm-12 col-xs-12">
                </br>
                <div>
                    <h2 class="captionSliderCv">Contact</h2>
                </div>
                </br>
                </br>
                    <h4>Please feel free to contact me via</h4>
                    <h4>Email: michael.johannes.meier@gmail.com</h4>
                    <h4>Telephone: +49 151 23378181</h4>
            </div>
        </div>

    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
</div>
