<div class = "col-md-12" style="background-image: url('images/wallpaper12.jpg');  background-size:cover;">
    </br>
    <div class="text-center">
        <h2 class="captionSliderCv">CV</h2>
        <img src="/images/me.jpg" id="iconme">
    </div>




    </br>

<div class="col-md-6">
<div class="basecv">
    <div class="container-fluid">
        <div class="headCv" id="1">
        <b class="headcv2" >Personal Data</b>
        </div>
        <div id="object1" class="lineAndTextCv">
            <div class="customHr"></div><br>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6" >
                        Forename/Lastname: </br>
                        Birthday/Birthplace:</br>
                        Citicenship:</br>
                        Civil Status:
                    </div>
                    <div class="col-xs-6" >
                        Michael Johannes / Meier</br>
                        20.07.1984 / Augsburg</br>
                        german</br>
                        unmarried, no kids
                    </div>

                </div>
            </div>
        </div>
        </br>


        <div class="headCv" id="2">
            <b>Post-Academic Work Experience</b>
        </div>
        <div id="object2" class="lineAndTextCv">
            <div class="customHr"></div><br>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6">
                        12/2017 - now
                    </div>
                    <div class="col-xs-6">
                        <b>RPA Developer</b> at PricewaterhouseCoopers GmbH</br>
                        Conception and Developing RPA Bots using Software Solutions of </br>
                        Blue Prism, UiPath and Automation Anywhere</br>
                    </div>
                </div>
                </br>
                <div class="row">
                    <div class="col-xs-6">
                        07/2017 - 10/2017
                    </div>
                    <div class="col-xs-6">
                        <b>R Shiny Prototyping</b> at financial.com AG</br>
                        Conception and Developing R/Shiny prototypes for statistical </br>
                        analyses of financial data; working with SQL-Databases</br>
                    </div>
                </div>
                </br>
                <div class="row">
                    <div class="col-xs-6">
                        05/2017 - 07/2017
                    </div>
                    <div class="col-xs-6">
                        <b>Freelance R/Shiny Developer </b> at Lot Internet GmbH</br>
                        Development of several Shiny-Apps to analyse and visualize the </br>
                        European automotive market </br>
                    </div>
                </div>
            </div>
        </div>
        </br>
        <div class="headCv" id="3">
        <b>Academic Qualifications</b>
        </div>
        <div id="object3" class="lineAndTextCv">
            <div class="customHr"></div><br>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6">
                        10/2014 - 05/2018
                    </div>
                    <div class="col-xs-6">
                        <b>Master of Science Business Management</b> (Grade 1.7)</br>
                        Julius-Maximilians-Universität Würzburg</br>
                        Emphases: Econometrics and Finance</br>
                        Topic of Master-Thesis: Data and Text Mining in Financial Markets </br>
                        with a focus of statistical modelling with classical time series methods </br>
                        as well as machine learning techniques
                    </div>

                </div>
                </br>
                <div class="row">
                    <div class="col-xs-6">
                        04/2012 -07/2014
                    </div>
                    <div class="col-xs-6">
                        <b>Bachelor of Science Economics</b> (Grade 2.0)</br>
                        Karl-Ruprechts-Universität Heidelberg</br>
                        Topic of Bachelor-Thesis: Multiple Factor Models in Portfolio- and </br>
                        Capital-Market-Theory </br>

                    </div>
                </div>
                </br>
                <div class="row">
                    <div class="col-xs-6">
                        09/2009 -02/2012
                    </div>
                    <div class="col-xs-6">
                        <b>Bachelor of Arts Political Science</b> (Grade 1.8)</br>
                        Karl-Ruprechts-Universität Heidelberg</br>
                        Topic of Bachelor-Thesis: Polit-economic Interdependencies – </br>
                        Indonesians Way to an Open Access Order</br></br>
                    </div>
                </div>
            </div>
        </div>
        </br>
        <div class="headCv" id="4">
            <b>School Education II</b>
        </div>
        <div id="object4" class="lineAndTextCv">
            <div class="customHr"></div><br>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6">
                        09/2007 - 07/2009
                    </div>
                    <div class="col-xs-6">
                        <b>Higher Education Entrance Qualification</b></br>
                        Städtische Berufsoberschule Augsburg</br></br>
                    </div>
                </div>
            </div>
        </div>
        </br>
        <div class="headCv" id="5">
            <b>Pre-Academic Work Experience</b>
        </div>
        <div id="object5" class="lineAndTextCv">
            <div class="customHr"></div><br>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6">
                        03/2003 - 08/2007
                    </div>
                    <div class="col-xs-6">
                        <b>Professional Career as an Electronics Engineer</b></br>
                        Deutsche Telekom AG, Augsburg</br>
                        Establishment of IT-Products
                    </div>
                </div>
                </br>
                <div class="row">
                    <div class="col-xs-6">
                        09/2000 - 02/2003
                    </div>
                    <div class="col-xs-6">
                        <b>Apprenticeship as an Electronics Engineer</b></br>
                        Deutsche Telekom AG, Augsburg</br></br>
                    </div>
                </div>
            </div>
        </div>
        </br>
    </div>
</div>
</div>
<div class="col-md-6">
    <div class="basecv">
        <div class="container-fluid">
        <div class="headCv" id="6">
            <b>School Education I</b>
        </div>
        <div id="object6" class="lineAndTextCv">
            <div class="customHr"></div><br>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6">
                        09/2007 - 07/2009
                    </div>
                    <div class="col-xs-6">
                        <b>Secondary School Leaving Certificate</b></br>
                        Realschule Wertingen</br></br>
                    </div>
                </div>
            </div>
        </div>
        </br>
        <div class="headCv" id="7">
            <b>Stay Abroad</b>
        </div>
        <div id="object7" class="lineAndTextCv">
            <div class="customHr"></div><br>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6">
                        06/2012 - 12/2012
                    </div>
                    <div class="col-xs-6">
                        Universidad Externado de Columbia, Bogotá</br>
                    </div>
                </div>
                </br>
                <div class="row">
                    <div class="col-xs-6">
                        02/2012 - 06/2012
                    </div>
                    <div class="col-xs-6">
                        Shanghai International Studies University, Shanghai</br></br>
                    </div>

                </div>
            </div>
        </div>
        </br>
        <div class="headCv" id="8">
            <b>Intern/Student Employee</b>
        </div>
        <div id="object8" class="lineAndTextCv">
            <div class="customHr"></div><br>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6">
                        12/2016 - 05/2017
                    </div>
                    <div class="col-xs-6">
                        PricewaterhouseCoopers GmbH (Student Employee)</br>
                        Service Line Advisory/Risk Consulting, München</br>
                    </div>
                </div>
                </br>
                <div class="row">
                    <div class="col-xs-6">
                        07/2016 - 10/2016
                    </div>
                    <div class="col-xs-6">
                        Landesbank Baden-Württemberg (Intern)</br>
                        Sovereigns/Financial Research, Stuttgart</br>
                    </div>
                </div>
                </br>
                <div class="row">
                    <div class="col-xs-6">
                        04/2016 - 06/2016
                    </div>
                    <div class="col-xs-6">
                        PricewaterhouseCoopers GmbH (Intern)</br>
                        Service Line Advisory/Risk Consulting, München</br>
                    </div>
                </div>
                </br>
                <div class="row">
                    <div class="col-xs-6">
                        07/2013 - 10/2013
                    </div>
                    <div class="col-xs-6">
                        Helfer ohne Grenzen Heidelberg (Intern)</br>
                        Gemeinnützige Hilfsorganisation, Heidelberg</br>
                    </div>
                </div>
                </br>
                <div class="row">
                    <div class="col-xs-6">
                        02/2011 - 05/2011
                    </div>
                    <div class="col-xs-6">
                        SPD (Intern)</br>
                        Poltical Archive, Willy Brandt Haus Berlin</br>
                    </div>
                </div>
            </div>
        </div>
        </br>
        <div class="headCv" id="9">
            <b>What you should know about me</b>
        </div>
        <div id="object9" class="lineAndTextCv">
            <div class="customHr"></div><br>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6">
                        Specialized
                    </div>
                    <div class="col-xs-6">
                        Abstract, systemic thinking and analytical capabilities </br>
                        Programming skills, strong emphasis in econometrics and finance</br>

                    </div>
                </div>
                </br>
                <div class="row">
                    <div class="col-xs-6">
                        Personal
                    </div>
                    <div class="col-xs-6">
                        Confident with good communicational skills</br>
                        Teamplayer with work experience</br>
                        Hands on mentality and goal-driven method of operation</br>
                        </br>
                        What you can expect from me:</br>
                        &nbsp&nbsp&nbsp&nbspHonesty, sincerity and openness</br>
                        &nbsp&nbsp&nbsp&nbspReliability and diligence</br>
                        &nbsp&nbsp&nbsp&nbspEhrgeiz, Engagement und Freude an der Arbeit</br>
                        &nbsp&nbsp&nbsp&nbspAmbition, Engagement und enjoyment of work</br>
                        &nbsp&nbsp&nbsp&nbsResilience in stressful situationsd</br>

                    </div>
                </div>
                </br>
                <div class="row">
                    <div class="col-xs-6">
                        Language
                    </div>
                    <div class="col-xs-6">
                        German - mother tonngue</br>
                        Englisch - business fluent (Level C1)</br>
                        Spanish - medium (Level B2)</br>
                        Chinesisch - Basic Knowledge (around. 600 Signs)</br>
                    </div>
                </div>
                </br>
                <div class="row">
                    <div class="col-xs-6">
                        Programming Skills
                    </div>
                    <div class="col-xs-6">
                        Very good skills in R and R-Shiny</br>
                        &nbsp&nbsp&nbsp&nbspEspecially: Development of a webbased analytical tool for </br>
                        &nbsp&nbsp&nbsp&nbspvisualizing and forecasting financial data using multiple classical </br>
                        &nbsp&nbsp&nbsp&nbspand machine learning forecasting methods</br>
                        &nbsp&nbsp&nbsp&nbsp(around 25.000 lines of code)</br>
                        Medium skills in Javascript</br>
                        Medium skills in NodeJs</br>
                        Medium skills in Python</br>
                        Medium skills in SQL, MySQL, PostgreSQL, MongoDB
                        Medium skills in VBA</br>
                        &nbsp&nbsp&nbsp&nbspEspecially: Development of a tool to measure real estate prices</br>
                        Basic skills in Java, C++</br>

                    </div>
                </div>
                </br>
                <div class="row">
                        <div class="col-xs-6">
                            Others
                        </div>
                        <div class="col-xs-6">
                            Risk Management Certificate (University of Würzburg, scope of 20 ECTS)</br>
                            Volunary Work at</br>
                            &nbsp&nbsp&nbsp&nbspHelfer ohne Grenzen e.V., Heidelberg</br>
                            &nbsp&nbsp&nbsp&nbspDer Paritätische, Würzburg</br>
                        </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>


</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</div>





{{!--
<img id="cvImage" src="/images/cv.jpg"> --}}

