<div class = "col-xs-12" style="background-image: url('images/wallpaper17.jpg');  background-size:cover;">
<div class="marginContainerExamples">
        </br>
        <div class="text-center">
            <h2 class="captionSliderExamples">Example Pages</h2>
        </div>
        </br>
        </br>
        <div class="containerExamples">
            <div class="col-sm-8 col-xs-12 text-center">

                    <li><a id="0" class="aTagsExamplepages" >Fruits Page</a></li></br>
                    <li><a id="1" class="aTagsExamplepages" >Angular Recipes</a></li></br>
                    <li><a id="2" class="aTagsExamplepages" >Bikes</a></li></br>
                    <li><a id="3" class="aTagsExamplepages" >Internet Shop</a></li></br>
                    <li><a id="4" class="aTagsExamplepages" >World Bank Data Visualizer</a></li></br>
                    <li><a id="5" class="aTagsExamplepages" >The Pig Game</a></li></br>
                    <li><a id="6" class="aTagsExamplepages" >Data Visualization Tool</a></li></br>
                    <li><a id="7" class="aTagsExamplepages" >Budget Calculator</a></li></br>
                   <!-- <li><a href="https://helperpage.azurewebsites.net">HelplerPage</a></li></br>-->
                    <li><a id="8" class="aTagsExamplepages" >Gym Page</a></li></br>
            </div>
            <div class="col-sm-4 col-xs-12" >
                <div>
                    <p class="examplesDesccr" id="headlineexamplesDescription"></p>
                    <p class="examplesDesccr" id="examplesDescription"></p>
                    <div id="buttonPageDescription"></div>
                </div>
            </div>
        </div>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
</div>
</div>


