<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">

        <div class="item active">
            <img src="images/machinelearning.png">
            <div class="carousel-caption">
                <h1 class="captionSlider" >Machine Learning</h1>
                <br>
                <a href="/certificates"><button type="button" class="btn btn-default">View References</button></a>
            </div>
        </div><!-- Ende Active-->
        <div class="item">
            <img src="images/datavisual.jpg">
            <div class="carousel-caption">
                <h1 class="captionSlider" >Web Development</h1>
                <br>
                <a href="/certificates"><button type="button" class="btn btn-default">View References</button></a>
            </div>
        </div>
        <div class="item">
            <img src="images/financial.jpg">
            <div class="carousel-caption">
                <h1 class="captionSlider" >Financial Analytics</h1>
                <br>
                <a href="/certificates"><button type="button" class="btn btn-default">View References</button></a>
            </div>
        </div>
        <div class="item">
            <img src="images/rpa.png">
            <div class="carousel-caption">
                <h1 class="captionSlider" >Robotics Process Automation</h1>
                <br>
                <a href="/certificates"><button type="button" class="btn btn-default">View References</button></a>
            </div>
        </div>

    </div>

    <!--Start slider controls-->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>



</div><!-- End of Slider -->

<div class="container text-center">
    <h1>What I use for data science</h1>
    <br>
    <div class="row">
        <div class="col-sm-4 col-xs-4">
            <img src="/images/rlogo.png" id="icon">
            <h4>R</h4>
        </div>

        <div class="col-sm-4 col-xs-4">
            <img src="/images/rshinylogo.jpg" id="icon">
            <h4>R Shiny</h4>
        </div>


        <div class="col-sm-4 col-xs-4">
            <img src="images/pythonlogo.jpg" id="icon">
            <h4>Python</h4>
        </div>
    </div>


</div>



<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h4>Statistics, Machine Learning and Data Science</h4>
            <p>R and Python are THE data science programming languages. With a lot of inbuild functionality
                and with endless packages and libraries there are almoust no limits when it comes to Data Science,
                Data Analytics and Machine Learning. Both have great charting libraries like plotly, highcharter, ggplot,
                matpotlib and many more. I have experience with a lot of them. For me plotly and the highcharts wrapper
                worked best. With these charting libraries i have experience in building all kind of analytic graphs like
                bar charts, scatter plots, heatmaps, 3d scatter plots, histograms and so on. I really like to
                visualize data, even when very often the patterns may be very hard to visualize. I have a very good
                experience in building dashbaords with R-Shiny but i also build dashboards using Pythons-Framworks like
                Flash and Django. On the right side you can
                see some visualisations made with plotly in R.
            </p>
            <p>When it comes to data science, i have experience with the basic statistical methods like multiple regression
                or basic time series analysis. In a seminar paper for the statistics chair i was working with panel data
                and used fixed and random effects models to calculate probability of defaults for government bonds. Regarding
                this topic i also did a internship at a german bank. Furthermore in my master thesis i was working 6 month with
                modern Machine Learning techniques like Naive Baise Classifiers, Support Vector Machines and especially with
                Neural Networks. I did all my calculations with R and Python using models like H2O, neural net, Keras or the google
                Tensorflow package.
            </p>

        </div>
        <div class="col-md-4">

            <div id="myCarousel2" class="carousel slide" data-ride="carousel" data-interval="7000">
                <div class="carousel-inner" role="listbox">

                    <div class="item active">
                        <img src="images/5dscatter.png">
                        <div class="carousel-caption2">
                            <a class="captionSlider2" >5d scatter plot</a>
                        </div>
                    </div><!-- Ende Active-->
                    <div class="item">
                        <img src="images/heatmap.png">
                        <div class="carousel-caption2">
                            <a class="captionSlider2" >Heatmap</a>
                        </div>
                    </div>
                    <div class="item">
                        <img src="images/boxplots.png">
                        <div class="carousel-caption2">
                            <a class="captionSlider2" >Boxplots</a>
                        </div>
                    </div>


                </div>

                <!--Start slider controls-->
                <a class="left carousel-control" href="#myCarousel2" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel2" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>


        </div>
    </div>

</div>




<div class="container">

    <h1>What I use for web development</h1>
    <br>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <h4>Javascript</h4>
            <p>Even i am not a Javascript specialist, i am gettin better in finding my way through the DOM and
                triggering events in order to make webpages more interactive. I also have experience with Javascript libraries
                like jQuery and other front end libraries like Angular and React.
            </p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <img src="images/jslogo.jpg" id="icon3" class="img-responsive">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <h4>NodeJs</h4>
            <p >Next to this webpage i programmed some other pages based on NodeJs on the server side. Through the synchronous
                programing, NodeJs offers great ways to nest functions resulting in a better user experience. Because i was not
                used to sync programming in R and Python, i often use promises to facilitate some functionalities.
            </p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <img src="images/nodejslogo.jpg" id="icon3" class="img-responsive">
        </div>
    </div>
</div>


<div class="container">
    <div class="row">

        <h4><a id="wantknowmore" href="#hidden" data-toggle="collapse">You want to know what i use to store data?</a></h4>
        <div id="hidden" class="collapse">
            <div class="col-md-4 col-sm-12">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <img src="images/sqlserver.jpg" class="img-responsive" id="icon2">
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <img src="images/mysqllogo.jpg" class="img-responsive" id="icon2">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <img src="images/mongodblogo.jpg" class="img-responsive" id="icon2">
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <img src="images/postgrelogo.png" class="img-responsive" id="icon2">
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-10">
                <h4>What i use to store data</h4>
                <p>I am familiar with relational database queries for SQL Server, MySQL or PostgreSQL but also i used
                    non-relational data bases like MongoDB. Depending on the complexity of data, the performance speed
                    or the amount of users which will access the database different databases should be used. For most
                    users, MySQL or PostgrSQL will be a valuable choice.
                </p>
            </div>
        </div>
    </div>
</div>




<div class="container">
    <h1>What I use for RPA</h1>
    <br>
    <div class="row">
        <div class="col-sm-2 col-xs-4">
            <a href="/bbyyo"><img src="/images/bplogo.jpg" id="icon4"></a>
        </div>

        <div class="col-sm-2 col-xs-4">
            <img src="/images/uipathlogo.png" id="icon4">
        </div>
        <div class="col-sm-2 col-xs-4">
            <img src="images/aalogo.jpg" id="icon4">
        </div>
        <div class="col-sm-6 col-xs-12">
            <p>I am able to automate processes with the three leading RPA software providers UiPath, Automation Anywhere
                and Blue Prism. For me, Blue Prism worked best, followed by UiPath, so this would be my preferable choice.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <p>
                Because not everything can be done with the pre-build functionalities, it is often needed to include code
                stages. Blue Prism and UiPath (since a short time) both offer the functionality to integrate pure source code
                (in Blue Prism it is possible to integrate C#, VBA and J# code and in UiPath it is possible to integrate VBA
                source code).
            </p>
        </div>
</div>
