<div class = "col-xs-12" style="background-image: url('images/wallpaper11.jpg');  background-size:cover;">


    </br>
    <div class="text-center">
        <h2 class="captionSliderCv">Projects</h2>
    </div>
    </br>
    </br>



    <div class="containerSkills">
        <div class="col-sm-6 col-xs-12 skills">

            PwC: Erstellung eines Analysetools zur Auswertung von Finanzzeitreihen
            <br>
            <br>
            LBBW: Erstellung eines Tools zur Bewertung von Immobilienpreisen
            <br>
            <br>
            Lot Internet GmbH: Erstellung eines Analystools  für den Gebrauchtwagenmarkt
        </div>
    </div>
</div>



