


<div class = "col-xs-12" style="background-image: url('images/wallpaper15.jpg');  background-size:cover;">


    </br>
    <div class="text-center">
        <h2 class="captionSliderCv">Projects</h2>
    </div>
    </br>
    </br>



    <div class="containerProjects">
        <div class="col-sm-10 col-xs-12">

            <br>
            <h3>Pricewaterhouse Coopers GmbH:</h3>
            <b>Development of an analytics tool to evaluate financial time series data.</b><br>
            The web based analysis tool had programmed in R and R-Shiny. The possibilities of the tool have been huge. It was able to load data (local,
            from a sql database, online), visualize data in mirad ways and calculate forecasts. Used forecasting techniques have been ARIMA, VAR, Multiple
            Regression and Neural Networks

            <br>
            <br>
            <br>
            <h3>LBBW Bank:</h3>
            <b>Development of an tool to evaluate real estate prices.</b><br>
            The tool was programmed in VBA and had only a minor scope. To tool loaded data from several CSV files, did a multiple regression and visualized
            the results.
            <br>
            <br>
            <br>
            <h3>Lot Internet GmbH:</h3>
            <b>Development of an analytics toot to evaluate the european car market.</b><br>
            The web based tool was programmed in R and R-Shiny. It was able to load data from a PostgreSQL data bank, did some geo-location codings and other
            statistical calculations and visualized the data in some nice forms. The tool had a medium scope.
        </div>
    </div>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>

</div>



