

<div class="container-fluid">
    </br>
    <h2>Skills</h2>
    </br>
    <div class="col-xs-3">

        <h5 class="headlineSkills"><b>Data science programming languages</b></h5>
        <div class="customHr"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="colSkillNames">
                    R
                </div>
                <div>
                    <div id="container1" class="containerClass"></div>
                </div>
            </div>
            </br>
            <div class="row">
                <div class="colSkillNames">
                    Python
                </div>
                <div class="colSkillNames2">
                    <div id="container2" class="containerClass"></div>
                </div>
            </div>

        </div>
        </br>



        <h5 class="headlineSkills"><b>Web development</b></h5>
        <div class="customHr"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="colSkillNames">
                    JavaScript
                </div>
            </div>
            </br>
            <div class="row">
                <div class="colSkillNames">
                    NodeJs
                </div>
            </div>
            </br>
            <div class="row">
                <div class="colSkillNames">
                    NodeJs Express
                </div>
            </div>
            </br>
            <div class="row">
                <div class="colSkillNames">
                    Python Django, Flush
                </div>
            </div>
            </br>
            <div class="row">
                <div class="colSkillNames">
                    HTML, CSS, Bootstrap
                </div>
            </div>
            </br>
            <div class="row">
                <div class="colSkillNames">
                    JQuery
                </div>
            </div>
            </br>
            <div class="row">
                <div class="colSkillNames">
                    Angular
                </div>
            </div>

        </div>
        </br>
        <h5 class="headlineSkills"><b>Databases</b></h5>
        <div class="customHr"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="colSkillNames">
                    SQL
                </div>
                <div class="colSkillNames2">
                    <div id="container5" class="containerClass"></div>
                </div>
            </div>
            </br>
            <div class="row">
                <div class="colSkillNames">
                    MySQL
                </div>
                <div class="colSkillNames2">
                    <div id="container6" class="containerClass"></div>
                </div>
            </div>
            </br>
            <div class="row">
                <div class="colSkillNames">
                    MongoDB
                </div>
                <div class="colSkillNames2">
                    <div id="container7" class="containerClass"></div>
                </div>
            </div>
        </div>
        </br>

    </div>
    <div class="col-xs-3">
    <h5 class="headlineSkillsInvisible"><b>. </b></h5>
    <div class="customHr"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="colSkillNames">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100" style="width:95%">
                            95%
                        </div>
                    </div>
            </div>
        </div>
        </br>
        <div class="row">
            <div class="colSkillNames">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70"
                         aria-valuemin="0" aria-valuemax="100" style="width:70%">
                        70%
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h5 class="headlineSkillsInvisible"><b>.</b></h5>
    <div class="customHr"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="colSkillNames">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70"
                         aria-valuemin="0" aria-valuemax="100" style="width:95%">
                        95%
                    </div>
                </div>
            </div>
        </div>
        </br>
        <div class="row">
            <div class="colSkillNames">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70"
                         aria-valuemin="0" aria-valuemax="100" style="width:95%">
                        95%
                    </div>
                </div>
            </div>
        </div>
        </br>
        <div class="row">
            <div class="colSkillNames">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70"
                         aria-valuemin="0" aria-valuemax="100" style="width:95%">
                        95%
                    </div>
                </div>
            </div>
        </div>

        </br>

        <div class="row">
            <div class="colSkillNames">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70"
                         aria-valuemin="0" aria-valuemax="100" style="width:95%">
                        95%
                    </div>
                </div>
            </div>
        </div>
        </br>
        <div class="row">
            <div class="colSkillNames">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70"
                         aria-valuemin="0" aria-valuemax="100" style="width:95%">
                        95%
                    </div>
                </div>
            </div>
        </div>
        </br>
        <div class="row">
            <div class="colSkillNames">
                Express
            </div>
        </div>
        </br>
        <div class="row">
            <div class="colSkillNames">
                Django
            </div>
        </div>
        </br>
        <div class="row">
            <div class="colSkillNames">
                HTML, CSS, Bootstrap
            </div>
        </div>
        </br>
        <div class="row">
            <div class="colSkillNames">
                JQuery
            </div>
        </div>

    </div>
</div>











    <div class="col-xs-6">

        <h5 class="headlineSkills"><b>Office</b></h5>
        <div class="customHr"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="colSkillNames">
                    Word
                </div>
                <div class="colSkillNames2">
                    <div id="container14" class="containerClass"></div>
                </div>
            </div>
            </br>
            <div class="row">
                <div class="colSkillNames">
                    Powerpoint
                </div>
                <div class="colSkillNames2">
                    <div id="container15" class="containerClass"></div>
                </div>
            </div>
            </br>
            <div class="row">
                <div class="colSkillNames">
                    Excel
                </div>
                <div class="colSkillNames2">
                    <div id="container16" class="containerClass"></div>
                </div>
            </div>
            </br>
            <div class="row">
                <div class="colSkillNames">
                    VBA
                </div>
                <div class="colSkillNames2">
                    <div id="container17" class="containerClass"></div>
                </div>
            </div>


        </div>
        </br>
        </br>

        <h5 class="headlineSkills"><b>Analytics</b></h5>
        <div class="customHr"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="colSkillNames">
                    Statistics
                </div>
                <div class="colSkillNames2">
                    <div id="container18" class="containerClass"></div>
                </div>
            </div>
            </br>
            <div class="row">
                <div class="colSkillNames">
                    Riskmanagement
                </div>
                <div class="colSkillNames2">
                    <div id="container19" class="containerClass"></div>
                </div>
            </div>
            </br>
            <div class="row">
                <div class="colSkillNames">
                    Machine Learning
                </div>
                <div class="colSkillNames2">
                    <div id="container20" class="containerClass"></div>
                </div>
            </div>
            </br>
            <div class="row">
                <div class="colSkillNames">
                    Time Series Prediction
                </div>
                <div class="colSkillNames2">
                    <div id="container21" class="containerClass"></div>
                </div>
            </div>
            </br>
            <div class="row">
                <div class="colSkillNames">
                    Text Mining
                </div>
                <div class="colSkillNames2">
                    <div id="container22" class="containerClass"></div>
                </div>
            </div>
        </div>
        </br>
        <h5 class="headlineSkills"><b>Subjects</b></h5>
        <div class="customHr">.</div>
        <div class="container-fluid">
            <div class="row">
                <div class="colSkillNames">
                    Financial Markets
                </div>
                <div class="colSkillNames2">
                    <div id="container23" class="containerClass"></div>
                </div>
            </div>
            </br>
            <div class="row">
                <div class="colSkillNames">
                    Banking
                </div>
                <div class="colSkillNames2">
                    <div id="container24" class="containerClass"></div>
                </div>
            </div>
            </br>
            <div class="row">
                <div class="colSkillNames">
                    Business Management
                </div>
                <div class="colSkillNames2">
                    <div id="container25" class="containerClass"></div>
                </div>
            </div>
            </br>
            <div class="row">
                <div class="colSkillNames">
                    Political Economics
                </div>
                <div class="colSkillNames2">
                    <div id="container26" class="containerClass"></div>
                </div>
            </div>


        </div>
    </div>
</div>

