

<div class = "col-xs-12" style="background-image: url('images/wallpaper11.jpg');  background-size:cover;">


    </br>
    <div class="text-center">
        <h2 class="captionSliderCv">Skills</h2>
    </div>
    </br>
    </br>



<div class="containerSkills">
    <div class="col-sm-6 col-xs-12 skills">
        <table style="width:100%">
            <tr>
                <th width="40%">Data science</th>
                <th width="80%"> </th>

            </tr>
            <tr>
                <td>
                    <div class="progress">
                        R
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar pbar1" role="progressbar" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100" style="width:0%">
                            95%
                        </div>
                    </div>
                </td>

            </tr>
            <tr>
                <td>
                    <div class="progress">
                        Python
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar pbar2" role="progressbar" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100" style="width:0%">
                            70%
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="progress">
                        C#
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar pbar3" role="progressbar" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100" style="width:0%">
                            60%
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="progress">
                        VBA
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar pbar4" role="progressbar" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100" style="width:0%">
                            65%
                        </div>
                    </div>
                </td>
            </tr>
        </table>



        <table width="100%">
            <tr>
                <th width="40%">Web development</th>
                <th width="80%"> </th>

            </tr>
            <tr>
                <td>
                    <div class="progress">
                        JavaScript
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar pbar5" role="progressbar" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100" style="width:0%">
                            70%
                        </div>
                    </div>
                </td>

            </tr>
            <tr>
                <td>
                    <div class="progress">
                        NodeJs
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar pbar6" role="progressbar" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100" style="width:0%">
                            60%
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="progress">
                        Python Django, Flush
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar pbar7" role="progressbar" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100" style="width:0%">
                            50%
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="progress">
                        JQuery
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar pbar8" role="progressbar" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100" style="width:0%">
                            50%
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="progress">
                        HTML, CSS, Bootstrap
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar pbar9" role="progressbar" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100" style="width:0%">
                            80%
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="progress">
                        Angular
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar pbar10" role="progressbar" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100" style="width:0%">
                            30%
                        </div>
                    </div>
                </td>
            </tr>
        </table>

        <table style="width:100%">
            <tr>
                <th width="40%">Databases</th>
                <th width="80%"> </th>

            </tr>
            <tr>
                <td>
                    <div class="progress">
                        SQL
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar pbar11" role="progressbar" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100" style="width:0%">
                            75%
                        </div>
                    </div>
                </td>

            </tr>
            <tr>
                <td>
                    <div class="progress">
                        MySQL
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar pbar12" role="progressbar" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100" style="width:0%">
                            80%
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="progress">
                        PostgreSQL
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar pbar13" role="progressbar" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100" style="width:0%">
                            75%
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="progress">
                        MongoDB
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar pbar14" role="progressbar" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100" style="width:0%">
                            65%
                        </div>
                    </div>
                </td>
            </tr>
        </table>

    </div>





    <div class="col-sm-6 col-xs-12 skills">

        <table style="width:100%">
            <tr>
                <th width="40%">RPA</th>
                <th width="80%"> </th>

            </tr>
            <tr>
                <td>
                    <div class="progress">
                        UiPath
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar pbar15" role="progressbar" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100" style="width:0%">
                            80%
                        </div>
                    </div>
                </td>

            </tr>
            <tr>
                <td>
                    <div class="progress">
                        Automation Anywhere
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar pbar16" role="progressbar" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100" style="width:0%">
                            65%
                        </div>
                    </div>
                </td>

            </tr>
            <tr>
                <td>
                    <div class="progress">
                        Blue Prism
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar pbar17" role="progressbar" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100" style="width:0%">
                            90%
                        </div>
                    </div>
                </td>

            </tr>
        </table>




        <table style="width:100%">
            <tr>
                <th width="40%">Analytics</th>
                <th width="80%"> </th>

            </tr>
            <tr>
                <td>
                    <div class="progress">
                        Statistics
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar pbar18" role="progressbar" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100" style="width:0%">
                            95%
                        </div>
                    </div>
                </td>

            </tr>
            <tr>
                <td>
                    <div class="progress">
                        Riskmanagement
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar pbar19" role="progressbar" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100" style="width:0%">
                            85%
                        </div>
                    </div>
                </td>

            </tr>
            <tr>
                <td>
                    <div class="progress">
                        Machine Learning
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar pbar20" role="progressbar" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100" style="width:0%">
                            70%
                        </div>
                    </div>
                </td>

            </tr>
            <tr>
                <td>
                    <div class="progress">
                        Time Series Prediction
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar pbar21" role="progressbar" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100" style="width:0%">
                            90%
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="progress">
                        Text Mining
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar pbar22" role="progressbar" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100" style="width:0%">
                            55%
                        </div>
                    </div>
                </td>
            </tr>


            <table style="width:100%">
                <tr>
                    <th width="40%">Subjects</th>
                    <th width="80%"> </th>

                </tr>
            <tr>
                <td>
                    <div class="progress">
                        Financial Markets
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar pbar23" role="progressbar" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100" style="width:0%">
                            85%
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="progress">
                        Banking
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar pbar24" role="progressbar" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100" style="width:0%">
                            80%
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="progress">
                        Business Management
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar pbar25" role="progressbar" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100" style="width:0%">
                            75%
                        </div>
                    </div>
                </td>
            </tr>
                <tr>
                    <td>
                        <div class="progress">
                            Economics
                        </div>
                    </td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar pbar26" role="progressbar" aria-valuenow="70"
                                 aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                85%
                            </div>
                        </div>
                    </td>
                </tr>
        </table>

    </div>
</div>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>


</div>
