<div class="container-fluid">
</br>
<h2>CV</h2>
</br>

<div class="container-fluid">
<div class="headCv" id="1">
<b>Persönliche Daten</b>
</div>
<div id="object1" class="lineAndTextCv">
    <div class="customHr">.</div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4">
                Name/Vorname: </br>
                Geburtstag/-ort:</br>
                Staatsangehörigkeit:</br>
                Familienstand:
            </div>
            <div class="col-xs-4">
                Michael Johannes / Meier</br>
                20.07.1984 / Augsburg</br>
                deutsch</br>
                ledig, keine Kinder
            </div>

        </div>
    </div>
</div>
</br>
<div class="headCv" id="2">
<b>Akademische Ausbildung</b>
</div>
<div id="object2" class="lineAndTextCv">
    <div class="customHr">.</div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4">
                seit 10/2014
            </div>
            <div class="col-xs-8">
                <b>Master of Science Business Management</b> (derzeitige Note 1,7)</br>
                Julius-Maximilians-Universität Würzburg</br>
                Schwerpunkte: Ökonometrie, Bankbetriebslehre, Finance</br>
                Thema der Masterarbeit: Data and Text Mining in Financial Markets</br>
                mit Fokus auf Wechselkursprognosen anhand klassischer</br>
                Zeitreihenmodelle sowie Methoden des Maschinellen Lernens
            </div>

        </div>
        </br>
        <div class="row">
            <div class="col-xs-4">
                04/2012 -07/2014
            </div>
            <div class="col-xs-8">
                <b>Bachelor of Science Economics</b> (Abschlussnote 2,0)</br>
                Karl-Ruprechts-Universität Heidelberg</br>
                Thema der Bachelorarbeit: Mehrfaktorenmodelle der Portfolio- und</br>
                Kapitalmarkttheorie</br>

            </div>
        </div>
        </br>
        <div class="row">
            <div class="col-xs-4">
                09/2009 -02/2012
            </div>
            <div class="col-xs-8">
                <b>Bachelor of Arts Politische Wissenschaft</b> (Abschlussnote 1,8)</br>
                Karl-Ruprechts-Universität Heidelberg</br>
                Thema der Bachelorarbeit: Politökonomische Interdependenzen - </br>
                Indonesiens Weg zur Open Access Order</br></br>
            </div>
        </div>
    </div>
</div>
</br>
<div class="headCv" id="3">
    <b>Schulausbildung II</b>
</div>
<div id="object3" class="lineAndTextCv">
    <div class="customHr">.</div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4">
                09/2007 - 07/2009
            </div>
            <div class="col-xs-8">
                <b>Allgemeine Hochschulreife</b></br>
                Städtische Berufsoberschule Augsburg</br></br>
            </div>
        </div>
    </div>
</div>
</br>
<div class="headCv" id="4">
    <b>Berufserfahrung</b>
</div>
<div id="object4" class="lineAndTextCv">
    <div class="customHr">.</div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4">
                03/2003 - 08/2007
            </div>
            <div class="col-xs-8">
                <b>Berufliche Tätigkeit als Betriebs- und Objekttechniker</b></br>
                Deutsche Telekom AG, Augsburg</br>
                Errichtung und Instandhaltung von IT-Produkten</br>
                sowie Carrier- und Telekommunikationsleitungen</br>
            </div>
        </div>
        </br>
        <div class="row">
            <div class="col-xs-4">
                09/2000 - 02/2003
            </div>
            <div class="col-xs-8">
                <b>Berufsausbildung zum IT-Systemelektroniker</b></br>
                Deutsche Telekom AG, Augsburg</br></br>
            </div>
        </div>
    </div>
</div>
</br>
<div class="headCv" id="5">
    <b>Schulausbildung I</b>
</div>
<div id="object5" class="lineAndTextCv">
    <div class="customHr">.</div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4">
                09/2007 - 07/2009
            </div>
            <div class="col-xs-8">
                <b>Mittlere Reife</b></br>
                Realschule Wertingen</br></br>
            </div>
        </div>
    </div>
</div>
</br>
<div class="headCv" id="6">
    <b>Auslandsaufenthalte</b>
</div>
<div id="object6" class="lineAndTextCv">
    <div class="customHr">.</div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4">
                06/2012 - 12/2012
            </div>
            <div class="col-xs-8">
                Universidad Externado de Columbia, Bogotá</br>
            </div>
        </div>
        </br>
        <div class="row">
            <div class="col-xs-4">
                02/2012 - 06/2012
            </div>
            <div class="col-xs-8">
                Shanghai International Studies University, Shanghai</br></br>
            </div>

        </div>
    </div>
</div>
</br>
<div class="headCv" id="7">
    <b>Praktika/Werksstudententätigkeiten</b>
</div>
<div id="object7" class="lineAndTextCv">
    <div class="customHr">.</div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4">
                12/2016 - 05/2017
            </div>
            <div class="col-xs-8">
                PricewaterhouseCoopers GmbH (Werksstudententätigkeit)</br>
                Service Line Advisory/Risk Consulting, München</br>
            </div>
        </div>
        </br>
        <div class="row">
            <div class="col-xs-4">
                07/2016 - 10/2016
            </div>
            <div class="col-xs-8">
                Landesbank Baden-Württemberg (Praktikum)</br>
                Sovereigns/Financial Research, Stuttgart</br>
            </div>
        </div>
        </br>
        <div class="row">
            <div class="col-xs-4">
                04/2016 - 06/2016
            </div>
            <div class="col-xs-8">
                PricewaterhouseCoopers GmbH (Praktikum)</br>
                Service Line Advisory/Risk Consulting, München</br>
            </div>
        </div>
        </br>
        <div class="row">
            <div class="col-xs-4">
                07/2013 - 10/2013
            </div>
            <div class="col-xs-8">
                Helfer ohne Grenzen Heidelberg (Praktikum)</br>
                Gemeinnützige Hilfsorganisation, Heidelberg</br>
            </div>
        </div>
        </br>
        <div class="row">
            <div class="col-xs-4">
                02/2011 - 05/2011
            </div>
            <div class="col-xs-8">
                SPD (Praktikum)</br>
                Politisches Archiv, Willy Brandt Haus Berlin</br>
            </div>
        </div>
    </div>
</div>
</br>
<div class="headCv" id="8">
    <b>Was Sie noch über mich wissen sollten</b>
</div>
<div id="object8" class="lineAndTextCv">
    <div class="customHr">.</div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4">
                Fachlich
            </div>
            <div class="col-xs-8">
                abstraktes, systemisches Denken und analytische Fähigkeiten sowie</br>
                breit vernetzte Kenntnisse und Interessen in betriebs-, volks- und</br>
                politikwissenschaftlichen Gebieten</br>

            </div>
        </div>
        </br>
        <div class="row">
            <div class="col-xs-4">
                Persönlich
            </div>
            <div class="col-xs-8">
                selbstbewusst mit guten Kommunikationsfähigkeiten</br>
                Teamplayer mit Berufserfahrung</br>
                selbstständige und zielorientierte Arbeitsweise</br>
                was Sie von mir erwarten können:</br>
                &nbsp&nbsp&nbsp&nbspEhrlichkeit und Offenheit</br>
                &nbsp&nbsp&nbsp&nbspZuverlässigkeit und Gewissenhaftigkeit</br>
                &nbsp&nbsp&nbsp&nbspEhrgeiz, Engagement und Freude an der Arbeit</br>
                &nbsp&nbsp&nbsp&nbspBelastbarkeit auch in Stresssituationen</br>
                &nbsp&nbsp&nbsp&nbspgepflegtes äußeres Erscheinungsbild</br>

            </div>
        </div>
        </br>
        <div class="row">
            <div class="col-xs-4">
                Sprachen
            </div>
            <div class="col-xs-8">
                Deutsch - Muttersprache</br>
                Englisch - verhandlungssicher in Wort und Schrift (Level C1)</br>
                Spanisch - gehoben (Lebel B2)</br>
                Chinesisch - Grundkenntnisse (ca. 600 Zeichen)</br>
            </div>
        </div>
        </br>
        <div class="row">
            <div class="col-xs-4">
                Office/Programmierkenntnisse
            </div>
            <div class="col-xs-8">
                sehr gute Kenntnisse in R sowie R-Shiny</br>
                &nbsp&nbsp&nbsp&nbspSpeziell: Erstellung eines webbasierten Analysetools für</br>
                &nbsp&nbsp&nbsp&nbspdas Einlesen, die Visualisierung, die Modellierung sowie die</br>
                &nbsp&nbsp&nbsp&nbspVorhersage von Finanzzeitreihen (ca. 25.000 Zeilen Code)</br>
                mittlere Kenntnisse in Python</br>
                mittlere Kenntnisse in VBA</br>
                &nbsp&nbsp&nbsp&nbspSpeziell: Erstellung eines Tools zur Immobilienpreisbewertung</br>
                Grundkenntnisse in Java, C++, HTML, CSS, Bootstrap</br>
                Grundkenntnisse in Javascript, SQL, MongoDB</br>
                Grundkenntnisse in Hadoop und Spark</br>
            </div>
        </div>
        </br>
        <div class="row">
                <div class="col-xs-4">
                    Sonstiges
                </div>
                <div class="col-xs-8">
                    Risikomanagementzertifikat im Umfang von 20 ECTS Punkten</br>
                    Ehrenamtliche Tätigkeiten bei</br>
                    &nbsp&nbsp&nbsp&nbspHelfer ohne Grenzen e.V., Heidelberg</br>
                    &nbsp&nbsp&nbsp&nbspDer Paritätische, Würzburg</br>
                </div>

        </div>
    </div>
</div>
</div>
</div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
.





{{!--
<img id="cvImage" src="/images/cv.jpg"> --}}

