</br>
<h2>Exampel Home Pages</h2>
</br>
</br>
<ul>
    <li><a href="/piggame">The Pig Game</a></li></br>
    <li><a href="https://michaelmeier.shinyapps.io/datavisualization/">Data visualization tool</a></li></br>
    <li><a href="/budgetcalc">Budget Calculator</a></li></br>
    <li><a href="/examples/insertMongoDB">Insert Mongo DB</a></li></br>
    <li><a href="/examples/pizzsShop">Pizza shop</a></li></br>
    <li><a href="/thegym">Gym page</a></li></br>

</ul>

