
<div class="container-fluid">
    </br>
    <h2>Projects</h2>
    </br>
    PwC: Erstellung eines Analysetools zur Auswertung von Finanzzeitreihen
    <br>
    <br>
    LBBW: Erstellung eines Tools zur Bewertung von Immobilienpreisen
    <br>
    <br>
    Lot Internet GmbH: Erstellung eines Analystools  für den Gebrauchtwagenmarkt