

<div class="container-fluid">
    </br>
    <h2>Skills</h2>
    </br>
    <div class="col-xs-6">

        <h5 class="headlineSkills"><b>Languages</b></h5>
        <div class="customHr">.</div>
        <div class="container-fluid">
            <div class="row">
                <div class="colSkillNames">
                    R
                </div>
                <div class="colSkillNames2">
                    <div id="container1" class="containerClass"></div>
                </div>
            </div>
            </br>
            <div class="row">
                <div class="colSkillNames">
                    Python
                </div>
                <div class="colSkillNames2">
                    <div id="container2" class="containerClass"></div>
                </div>
            </div>
            </br>
            <div class="row">
                <div class="colSkillNames">
                    Java
                </div>
                <div class="colSkillNames2">
                    <div id="container3" class="containerClass"></div>
                </div>
            </div>
            </br>
            <div class="row">
                <div class="colSkillNames">
                    C++
                </div>
                <div class="colSkillNames2">
                    <div id="container4" class="containerClass"></div>
                </div>
            </div>
            </br>

        </div>
        </br>

        <h5 class="headlineSkills"><b>Databases</b></h5>
        <div class="customHr">.</div>
        <div class="container-fluid">
            <div class="row">
                <div class="colSkillNames">
                    SQL
                </div>
                <div class="colSkillNames2">
                    <div id="container5" class="containerClass"></div>
                </div>
            </div>
            </br>
            <div class="row">
                <div class="colSkillNames">
                    MySQL
                </div>
                <div class="colSkillNames2">
                    <div id="container6" class="containerClass"></div>
                </div>
            </div>
            </br>
            <div class="row">
                <div class="colSkillNames">
                    MongoDB
                </div>
                <div class="colSkillNames2">
                    <div id="container7" class="containerClass"></div>
                </div>
            </div>
        </div>
        </br>

        <h5 class="headlineSkills"><b>Frontend</b></h5>
        <div class="customHr">.</div>
        <div class="container-fluid">
            <div class="row">
                <div class="colSkillNames">
                    JavaScript
                </div>
                <div class="colSkillNames2">
                    <div id="container8" class="containerClass"></div>
                </div>
            </div>
            </br>
            <div class="row">
                <div class="colSkillNames">
                    AngularJS
                </div>
                <div class="colSkillNames2">
                    <div id="container9" class="containerClass"></div>
                </div>
            </div>
            </br>
            <div class="row">
                <div class="colSkillNames">
                    Express
                </div>
                <div class="colSkillNames2">
                    <div id="container10" class="containerClass"></div>
                </div>
            </div>
            </br>
            <div class="row">
                <div class="colSkillNames">
                    Django
                </div>
                <div class="colSkillNames2">
                    <div id="container11" class="containerClass"></div>
                </div>
            </div>
            </br>
            <div class="row">
                <div class="colSkillNames">
                    HTML, CSS, Bootstrap
                </div>
                <div class="colSkillNames2">
                    <div id="container12" class="containerClass"></div>
                </div>
            </div>
            </br>
            <div class="row">
                <div class="colSkillNames">
                    JQuery
                </div>
                <div class="colSkillNames2">
                    <div id="container13" class="containerClass"></div>
                </div>
            </div>

        </div>
        </br>


    </div>

    <div class="col-xs-6">

        <h5 class="headlineSkills"><b>Office</b></h5>
        <div class="customHr">.</div>
        <div class="container-fluid">
            <div class="row">
                <div class="colSkillNames">
                    Word
                </div>
                <div class="colSkillNames2">
                    <div id="container14" class="containerClass"></div>
                </div>
            </div>
            </br>
            <div class="row">
                <div class="colSkillNames">
                    Powerpoint
                </div>
                <div class="colSkillNames2">
                    <div id="container15" class="containerClass"></div>
                </div>
            </div>
            </br>
            <div class="row">
                <div class="colSkillNames">
                    Excel
                </div>
                <div class="colSkillNames2">
                    <div id="container16" class="containerClass"></div>
                </div>
            </div>
            </br>
            <div class="row">
                <div class="colSkillNames">
                    VBA
                </div>
                <div class="colSkillNames2">
                    <div id="container17" class="containerClass"></div>
                </div>
            </div>


        </div>
        </br>
        </br>

        <h5 class="headlineSkills"><b>Analytics</b></h5>
        <div class="customHr">.</div>
        <div class="container-fluid">
            <div class="row">
                <div class="colSkillNames">
                    Statistics
                </div>
                <div class="colSkillNames2">
                    <div id="container18" class="containerClass"></div>
                </div>
            </div>
            </br>
            <div class="row">
                <div class="colSkillNames">
                    Riskmanagement
                </div>
                <div class="colSkillNames2">
                    <div id="container19" class="containerClass"></div>
                </div>
            </div>
            </br>
            <div class="row">
                <div class="colSkillNames">
                    Machine Learning
                </div>
                <div class="colSkillNames2">
                    <div id="container20" class="containerClass"></div>
                </div>
            </div>
            </br>
            <div class="row">
                <div class="colSkillNames">
                    Time Series Prediction
                </div>
                <div class="colSkillNames2">
                    <div id="container21" class="containerClass"></div>
                </div>
            </div>
            </br>
            <div class="row">
                <div class="colSkillNames">
                    Text Mining
                </div>
                <div class="colSkillNames2">
                    <div id="container22" class="containerClass"></div>
                </div>
            </div>
        </div>
        </br>
        <h5 class="headlineSkills"><b>Subjects</b></h5>
        <div class="customHr">.</div>
        <div class="container-fluid">
            <div class="row">
                <div class="colSkillNames">
                    Financial Markets
                </div>
                <div class="colSkillNames2">
                    <div id="container23" class="containerClass"></div>
                </div>
            </div>
            </br>
            <div class="row">
                <div class="colSkillNames">
                    Banking
                </div>
                <div class="colSkillNames2">
                    <div id="container24" class="containerClass"></div>
                </div>
            </div>
            </br>
            <div class="row">
                <div class="colSkillNames">
                    Business Management
                </div>
                <div class="colSkillNames2">
                    <div id="container25" class="containerClass"></div>
                </div>
            </div>
            </br>
            <div class="row">
                <div class="colSkillNames">
                    Political Economics
                </div>
                <div class="colSkillNames2">
                    <div id="container26" class="containerClass"></div>
                </div>
            </div>


        </div>
    </div>
</div>

