<div class="card floater">
  <img class="card-img-top" [src]="'data:jpg;base64,' +  fahrrad.image.data | unsafe " alt="Fahrrad" style="width:100%">
  <div class="card-body">
    <h5 style="float: left">{{ fahrrad.name }}</h5>
    <h5 style="float: right">{{ fahrrad.price }}€ </h5>
    <p style="clear: left" class="card-text">{{ fahrrad.descriptionShort }}</p>
    <a [routerLink]="'edit/' + [id]" class="btn btn-primary">Edit</a>
    <a (click)="onDelete()" class="btn btn-danger">Delete</a>
    <!--<a [href]="'/fahrraddelete/' + [id]" class="btn btn-danger">Löschen</a>-->
  </div>
</div>



