{{> header }}
<div class="container">
    <h2>Wie funktionierts?</h2>
    </br>

    <h3>Allgemein</h3>
    <p>Die Helperpage ist eine Webseite, auf der hilfsbedürftige Menschen ausgewählte Produkte verbilligt oder umsonst bestellen können</p>
    </br>
    <h3>Zwei grundlegende Probleme bei der Entwicklungshilfe</h3>
    <p>1. Ein Problem bei der Entwicklungshilfe ist es, dass selbst wenn man Geld/Ressourcen eingesammelt hat, man dann nicht weiß,
        wie genau man diese sinnvoll einsetzen kann. Es ist vermutlich nicht sinnvoll, die Ressourcen einfach zu übergeben. Ein typisches Beispiel ist der Obdachlose, der Geld zur freien Verfügung bekommt, und sich dann
    eine Flasche Vodka davon kauft.
        2. Auf der anderen Seite, möchten Menschen auch nicht bevormundet werden und möchten gerne selbstbestimmend mit Ressourcen
    umgehen. Die Helperpage verucht diese zwei Probleme zu umgehen. </p>
    </br>
    <h3>Die Lösung der Helperpage</h3>
    <p>1. Auf der Helperpage werden nur "gute" Produkte mit einem potentiellen Mehrwert für die Gesellschaft und den Bedürftigen angeboten. Z.B. Produkte zur
    Weiterbildung wie Bücher, Produkte für die Körperpflege wie Rasierer, Duschgel oder Produkte für die Gesundheit und das menschliche Wohlergehen wie Tees oder Säfte
    2. Durch eine Vielzahl an Produkten ist es dem Bedürftigen möglich, selbst über seine Ressourcen zu bestimmen. So kann er die Produkte erwerben, die ihn am meisten
    ansprechen und die er am dringendsten benötigt.</p>
    </br>

    </br>
    <h3>Die Umsetzung der Bestellungen</h3>
    <p>Bedürfte Menschen können sich so auf der Helperpage registrieren (mit Namen und Adresse). Nach der Registrierung können die Bedürftigen Produkte bestellen.
    Auf der Helperpage werden nur Produkte angeboten, die Online, v.a. bei Amazon zu kaufen sind. Nach Eingang der Bestellung werden die Produkte vom HelperPage Team
    online bestellt. Bei der Bestellung wird dann die Adresse des Bedürftigen angegeben. D.h. es müssen zu keiner Zeit Produkte zwischengelagert werden. Die Bestellungen
    können ein oder zweimal die Woche abgearbeitet werden. Allgemein ist der organisatorische Aufwand somit sehr gering.</p>
    </br>
    <p>Bestellungen können zudem nicht unbegrenzt durchgeführt werden. Dabei kann entweder ein bestimmtes Betragslimit pro Zeiteinheit festgelegt werden, oder nur ein
    Zeitlimit festgelegt werden (wie aktuell technisch umgesetzt). Momentan können Bestellungen nur alle 5 Minuten durchgeführt werden. Im Echtbetrieb könnte der Zeitraum
    dann auf 15 Tage oder einen Monat geändert werden (ja nach Anzahl der zur Verfügung stehenden Ressource und der angemeldeten Bedürftigen).
    </p>
    </br>
    <h3>Die Registrierungsschlüssel bei der ersten Anmeldung</h3>
    <p>Um auszuschließen, dass sich auch nicht-hilfebedürftige Menschen auf der HelperPage registrieren können, ist zur Erstanmeldung ein Registrierungsschüssel notwendig.
        Die Registrierungsschüssel können so an hilfsbedürftige Menschen vergeben werden (z.B. auch über andere Hilfsorganisationen, bei denen hilfsbedürftige Menschen
        gemeldet sind). Die HelperPage sucht demnach die Personen aus, die sich auf der Seite anmelden können.
    </p>
    </br>
    <h3>Technische Umsetzung</h3>
    <p>Alle Benutzerdaten und Bestellungen werden auf einer SQL Datenbank gespeichert. Für das Abarbeiten der Bestellungen sowie das Aktualisieren der Produkte ist nur ein
        sehr geringer organisatorischer Aufwand nötig.
    </p>