

<nav class="navbar navbar-expand-md navbar-dark">

  <button class="navbar-toggler myToggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav justify-content-end navbaritems navbarwidth">
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a></li>
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/blueberries">Blueberries</a></li>
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/grapes">Grapes</a></li>
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/bananas" (click)="toggleActive()" >Bananas</a></li>
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/strawberries" (click)="toggleActive()">Strawberries</a></li>
    </ul>
  </div>
</nav>
<br>
