
<div class="row videoBox">
  <div class="col-sm-12">
    <video class="video" autoplay="" muted="" loop="" poster="assets/video/thumb.jpg">
      <source src="assets/fruits.mp4" type="video/mp4">
    </video>
    <div class="content">
      <h1>Fruits</h1>
      In botany, a fruit is the seed-bearing structure in flowering plants
      <br>
      (also known as angiosperms) formed from the ovary after flowering.
    </div>
  </div>

</div>

<br>

<div class="row">

  <div class="col-lg-6 blackwhite">
    <p>Fruits are the means by which angiosperms disseminate seeds. Edible fruits, in particular, have propagated with the movements of
      humans and animals in a symbiotic relationship as a means for seed dispersal and nutrition; in fact, humans and many animals have
      become dependent on fruits as a source of food.[1] Accordingly, fruits account for a substantial fraction of the world's agricultural output,
      and some (such as the apple and the pomegranate) have acquired extensive cultural and symbolic meanings.</p>
  </div>
  <br>
  <div class="col-lg-6 blackwhite">
    <p>In common language usage, "fruit" normally means the fleshy seed-associated structures of a plant that are sweet or sour, and edible in the raw state,
      such as apples, bananas, grapes, lemons, oranges, and strawberries. On the other hand, in botanical usage, "fruit" includes many structures that are not commonly called
      "fruits", such as bean pods, corn kernels, tomatoes, and wheat grains.[2][3] The section of a fungus that produces spores is also called a fruiting body.</p>
  </div>
</div>


<br>
<br>
<div class="row">

  <div class="col-lg-3 col-sm-6 nopadding">
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');" style="width: 100%">
      <a routerLink="../blueberries" >
        <div class="flipper">
          <div class="front">
            <img src="assets/blueberries1.jpg" alt="Berries" style="width: 100%; height: 400px">
              <div class="overlay">
                <div class="text">Blueberries</div>
              </div>
          </div>
          <div class="back container">
              <div class="backdiv">
                  <p>Blueberries are very delicious<br>Helthy and blueeee<br>Try them out!</p>
              </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-3 col-sm-6 nopadding">
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');" style="width: 100%">
      <a routerLink="../grapes" >
        <div class="flipper">
          <div class="front">
            <img src="assets/grapes.jpg" alt="Grapes" style="width: 100%; height: 400px">
            <div class="overlay">
              <div class="text">Grapes</div>
            </div>
          </div>
          <div class="back container">
            <div class="backdiv">
              <p>Grapes Grapes Grapes<br>Just soooooo gooood<br>Try them out!</p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-3 col-sm-6 nopadding">
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');" style="width: 100%">
      <a routerLink="../bananas" (click)="toggleActive()" >
        <div class="flipper">
          <div class="front">
            <img src="assets/bananas.jpg" alt="Bananas" style="width: 100%; height: 400px">
            <div class="overlay">
              <div class="text">Bananas</div>
            </div>
          </div>
          <div class="back container">
            <div class="backdiv">
              <p>Bananas are very yellow<br>They are bowed to fit into the skin<br>Try them out!</p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="col-lg-3 col-sm-6 nopadding">
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');" style="width: 100%">
      <a routerLink="../strawberries" (click)="toggleActive()">
        <div class="flipper">
          <div class="front">
            <img src="assets/strawberries.jpg" alt="Strawberries" style="width: 100%; height: 400px">
            <div class="overlay">
              <div class="text">Strawberries</div>
            </div>
          </div>
          <div class="back container">
            <div class="backdiv">
              <p>Strawberries are very healthy<br>Delicous and reeeed<br>Try them out!</p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="backgroundWhite">
  <div class="row whiteblack">
    <div class="col-lg-12">
      <h1 align="center">All kind of fruits</h1>
    </div>
  </div>
  <div class="row">
      <div class="col-lg-4 col-md-6 whiteblack">
        <h6>The Means</h6>
        <p>Fruits are the means by which angiosperms disseminate seeds. Edible fruits, in particular, have propagated with the movements of
          humans and animals in a symbiotic relationship as a means for seed dispersal and nutrition; in fact, humans and many animals have
          become dependent on fruits as a source of food.[1] Accordingly, fruits account for a substantial fraction of the world's agricultural output,
          and some (such as the apple and the pomegranate) have acquired extensive cultural and symbolic meanings.</p>
      </div>
      <div class="col-lg-4 col-md-6 whiteblack">
        <h6>Normally</h6>
        <p>In common language usage, "fruit" normally means the fleshy seed-associated structures of a plant that are sweet or sour, and edible in the raw state,
          such as apples, bananas, grapes, lemons, oranges, and strawberries. On the other hand, in botanical usage, "fruit" includes many structures that are not commonly called
          "fruits", such as bean pods, corn kernels, tomatoes, and wheat grains.[2][3] The section of a fungus that produces spores is also called a fruiting body.</p>
      </div>
      <div class="col-lg-4 whiteblack">
        <img src="assets/fruits.jpg" alt="fruits" style="height:30%;">
      </div>
  </div>
</div>

