
<div class="row myRow">
  <img src="assets/blueberries2.jpg" alt="Berries" style="width: 100%; height: 700px">
  <div class="myBackgroundPicOverly">
    <div class="myLeft">Sooo</div>
    <div class="myCenter">sooo</div>
    <div class="myRight">blueee</div>
  </div>

</div>

<div class="row">
  <div class="col-lg-12 headingBlueberries">
    <h1 >BLUEBERRIES</h1>
  </div>
</div>


<div class="row">
  <div class="myBackground col-md-6">
  </div>
  <div class="fruitstext col-md-6">
    <h3>About Blueberries in General</h3>
    <br>
    <br>
    <p>
      Blueberries are perennial flowering plants with indigo-colored berries. They are classified in the section Cyanococcus within the genus Vaccinium. Vaccinium also includes cranberries,
      bilberries and grouseberries.[1] Commercial "blueberries" are native to North America, and the "highbush" varieties were not introduced into Europe until the 1930s.
    </p>
    <br>
    <br>
    <p>
      Blueberries are usually prostrate shrubs that can vary in size from 10 centimeters (3.9 in) to 4 meters (13 ft) in height. In the commercial production of blueberries,
      the smaller species are known as "lowbush blueberries" (synonymous with "wild"), while the larger species are known as "highbush blueberries".
    </p>
    <br>
    <br>
  </div>
</div>


<div class="row">
  <div class="fruitstext col-md-6">
    <h3>Blueberry Leafs</h3>
    <br>
    <br>
    <p>
      The leaves can be either deciduous or evergreen, ovate to lanceolate, and 1–8 cm (0.39–3.15 in) long and 0.5–3.5 cm (0.20–1.38 in) broad. The flowers are bell-shaped, white, pale pink or red, sometimes tinged greenish.
      The fruit is a berry 5–16 millimeters (0.20–0.63 in) in diameter with a flared crown at the end; they are pale greenish at first, then reddish-purple, and finally dark purple when ripe.
    </p>
    <br>
    <br>
    <p>
      They are covered in a protective coating of powdery epicuticular wax, colloquially known as the "bloom".[3] They have a sweet taste when mature, with variable acidity.
      Blueberry bushes typically bear fruit in the middle of the growing season: fruiting times are affected by local conditions such as altitude and latitude, so the peak of the crop, in the northern hemisphere,
      can vary from May to August.
    </p>
  </div>
  <div class="myBackground2 col-md-6">
</div>

  <div class="row">
    <div class="myBackground3 col-md-6">
    </div>
    <div class="fruitstext col-md-6">
      <h3>Uses</h3>
      <br>
      <br>
      <p>
        Blueberries consist of 14% carbohydrates, 0.7% protein, 0.3% fat and 84% water (table). They contain only negligible amounts of micronutrients, with moderate levels
        (relative to respective Daily Values) (DV) of the essential dietary mineral manganese, vitamin C, vitamin K and dietary fiber (table).Generally, nutrient contents
        of blueberries are a low percentage of the DV (table). One serving provides a relatively low caloric value of 57 kcal per 100 g serving and glycemic load score of 6 out of 100 per day.
      </p>
      <br>
      <br>
      <p>
        Blueberries contain anthocyanins, other polyphenols and various phytochemicals under preliminary research for their potential role in the human body. Most polyphenol studies have been conducted using
        the highbush cultivar of blueberries (V. corymbosum), while content of polyphenols and anthocyanins in lowbush (wild) blueberries (V. angustifolium) exceeds values found in highbush cultivars.[
      </p>
      <br>
      <br>
    </div>
  </div>

