body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#container {
  min-width: 310px;
  max-width: 800px;
  height: 400px;
  margin: 0 auto
}
