<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <!-- Basic stylesheet -->
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- jQuery -->
    <link rel="stylesheet" href="jqueryui/jquery-ui.css">
    <script src="jqueryui/jquery.min.js"></script>

    <!-- selectizerjs -->
    <link rel="stylesheet" href="plugins/normalize.css">
    <link rel="stylesheet" href="plugins/stylesheet.css">
    <script src="plugins/selectize.js"></script>
    <script src="plugins/selectize.index.js"></script>

  </head>
  <body>
    {{{body}}}
  </body>
</html>
