<div class="row">
    <div class="col-lg-3 myCardInfo"">
        <h3 id="cardfront">How much people live in poverty?</h3>
        <div id="cardhidden">
            <h2>3 billion people<svg  style="float:right; position: relative; top: -40px" xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24"><path d="M12.164 7.165c-1.15.191-1.702 1.233-1.231 2.328.498 1.155 1.921 1.895 3.094 1.603 1.039-.257 1.519-1.252 1.069-2.295-.471-1.095-1.784-1.827-2.932-1.636zm1.484 2.998l.104.229-.219.045-.097-.219c-.226.041-.482.035-.719-.027l-.065-.387c.195.03.438.058.623.02l.125-.041c.221-.109.152-.387-.176-.453-.245-.054-.893-.014-1.135-.552-.136-.304-.035-.621.356-.766l-.108-.239.217-.045.104.229c.159-.026.345-.036.563-.017l.087.383c-.17-.021-.353-.041-.512-.008l-.06.016c-.309.082-.21.375.064.446.453.105.994.139 1.208.612.173.385-.028.648-.36.774zm10.312 1.057l-3.766-8.22c-6.178 4.004-13.007-.318-17.951 4.454l3.765 8.22c5.298-4.492 12.519-.238 17.952-4.454zm-2.803-1.852c-.375.521-.653 1.117-.819 1.741-3.593 1.094-7.891-.201-12.018 1.241-.667-.354-1.503-.576-2.189-.556l-1.135-2.487c.432-.525.772-1.325.918-2.094 3.399-1.226 7.652.155 12.198-1.401.521.346 1.13.597 1.73.721l1.315 2.835zm2.843 5.642c-6.857 3.941-12.399-1.424-19.5 5.99l-4.5-9.97 1.402-1.463 3.807 8.406-.002.007c7.445-5.595 11.195-1.176 18.109-4.563.294.648.565 1.332.684 1.593z"/></svg></h2>
            <h3>are living in poverty</h3>
            <p>(they have less than $2.5 a day)</p>
        </div>
    </div>

    <div class="col-lg-3 myCardInfo">
        <h3 id="cardfront">How much people live in extreme poverty?</h3>
        <div id="cardhidden">
            <h2>1.3 billion people<svg style="float:right; position: relative; top: -40px" xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24"><path d="M14.324 11.387c-.547-1.272-2.073-2.124-3.41-1.901-1.337.222-1.979 1.433-1.432 2.706.578 1.343 2.234 2.202 3.598 1.863 1.209-.299 1.766-1.456 1.244-2.668zm-1.683 1.584l.12.267-.253.052-.113-.254c-.262.047-.561.041-.836-.031l-.076-.451c.227.035.509.067.725.023l.145-.047c.258-.126.179-.449-.204-.525-.284-.063-1.038-.017-1.319-.642-.158-.353-.041-.722.414-.891l-.125-.278.252-.052.12.266c.185-.031.401-.042.655-.02l.102.446c-.197-.025-.41-.047-.596-.009l-.07.018c-.359.095-.244.436.075.519.527.122 1.156.161 1.404.712.199.445-.034.75-.42.897zm7.198-7.971c-6.829 4.423-14.376-.351-19.839 4.92l4.161 9.08c5.854-4.962 13.835-.264 19.839-4.92l-4.161-9.08zm-12.843 10.475c-.815-.511-2.002-.838-2.875-.762l-1.189-2.597c.567-.608 1.021-1.684 1.169-2.655.185-.059.371-.117.566-.165 3.358-.833 7.543.079 11.852-.99.312-.077.609-.174.908-.269.678.475 1.511.809 2.302.923l1.316 2.871c-.532.673-.912 1.483-1.105 2.327-3.865 1.048-8.549-.094-12.944 1.317z"/></svg></h2>
            <h3>are living in extreme poverty</h3>
            <p>(they have less than $1.25 a day)</p>
        </div>
    </div>

    <div class="col-lg-3 myCardInfo" >
        <h3 id="cardfront">How much children live in poverty?</h3>
        <div id="cardhidden">
            <h2>1 billion children<svg style="float:right; position: relative; top: -18px" xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 32 24"><path d="M20.5 12.5c0 .828-.56 1.5-1.25 1.5s-1.25-.672-1.25-1.5.56-1.5 1.25-1.5 1.25.672 1.25 1.5zm-7.75-1.5c-.69 0-1.25.672-1.25 1.5s.56 1.5 1.25 1.5 1.25-.672 1.25-1.5-.56-1.5-1.25-1.5zm3.25 8.354c2.235 0 3-2.354 3-2.354h-6s.847 2.354 3 2.354zm12-5.803c0 1.925-.896 4.738-3.317 5.188-1.959 3.492-4.877 5.261-8.683 5.261s-6.724-1.769-8.683-5.26c-2.421-.451-3.317-3.263-3.317-5.189 0-2.147.809-4.093 2.843-4.223.453-5.099 3.946-8.328 9.157-8.328s8.704 3.229 9.157 8.329c2.036.129 2.843 2.073 2.843 4.222zm-2.631-2.116c-.272-.178-.615-.104-.756-.041-.661.293-1.406-.191-1.406-.914 0-1.344-.315-5.007-3.46-6.654 1.304 1.354 1.753 3.792 1.753 5.174h-12.591999999999999c-.09.601-.115 1.124-.115 1.48 0 .723-.745 1.207-1.406.914-.142-.063-.484-.137-.756.041-1.102.716-.798 5.326 1.337 5.367.367.007.702.216.87.543 2.391 4.655 5.981 4.655 7.162 4.655s4.771 0 7.162-4.655c.168-.328.503-.536.87-.543 2.134-.042 2.44-4.651 1.337-5.367zm-.619-6.748c3.797-1.093.375 7.346 7.25 7.313-2.266-1.469-.893-5.476-1.5-8.166-.518-2.293-2.328-2.834-3.5-2.834-1.875 0-3.106 1.106-3.603 1.922.544.478 1.014 1.224 1.353 1.765zm-16.147-1.765c-.497-.816-1.728-1.922-3.603-1.922-1.172 0-2.982.541-3.5 2.834-.607 2.69.766 6.697-1.5 8.166 6.875.033 3.453-8.406 7.25-7.313.339-.541.809-1.287 1.353-1.765z"/></svg></h2>
            <h3>are living in poverty</h3>
            <p>(they have less than $2.5 a day)</p>
        </div>
    </div>

    <div class="col-lg-3 myCardInfo">
        <h3 id="cardfront">How much people don´t have enough to eat?</h3>
        <div id="cardhidden">
            <h2>800 million people<i style="float:right; position: relative; font-size: 40px; left: -20px; color: black;" class="fas fa-utensils"></i></h2>
            <h3>don´t have enough to eat</h3>
            <p></p>
        </div>
    </div>

    <div class="col-lg-3 myCardInfo">
        <h3 id="cardfront">How much people don´t have clean water?</h3>
        <div id="cardhidden">
            <h2>700 million people<svg style="float:right; position: relative; top: -15px;" xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24"><path d="M12 3.571c3.658 5.437 6 9.223 6 12.503 0 3.268-2.691 5.926-6 5.926s-6-2.658-6-5.925c0-3.281 2.342-7.067 6-12.504zm0-3.571c-4.87 7.197-8 11.699-8 16.075 0 4.378 3.579 7.925 8 7.925s8-3.547 8-7.925c0-4.376-3.13-8.878-8-16.075zm2.656 12c.969 3.484-.406 6.859-2.656 7.781 3.318.475 5.994-3.466 2.656-7.781z"/></svg></h2>
            <h3>don´t have access to clean drinking water</h3>
            <p></p>
        </div>
    </div>

    <div class="col-lg-3 myCardInfo">
        <h3 id="cardfront">How much children are malnutritioned?</h3>
        <div id="cardhidden">
            <h2>165 million children<i style="float:right; position: relative; font-size: 40px; top: -5px; color: black;" class="fas fa-ambulance"></i></h2>
            <h3>under the age of 5 years are chronically malnutritioned</h3>
            <p></p>
        </div>
    </div>

    <div class="col-lg-3 myCardInfo">
        <h3 id="cardfront">How much people live on less than $10/day?</h3>
        <div id="cardhidden">
            <h2>80% of wolds population<svg style="float:right; position: relative; top: -18px" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24"><path d="M12 9c5.345 0 10-2.015 10-4.5s-4.655-4.5-10-4.5c-5.344 0-10 2.015-10 4.5s4.656 4.5 10 4.5zm.187-4.019c-.598-.18-2.428-.332-2.428-1.35 0-.568.668-1.074 1.917-1.187v-.444h.642v.422c.468.011.989.062 1.569.18l-.234.685c-.441-.101-.933-.199-1.416-.199l-.145.002c-.962.04-1.041.574-.373.799 1.092.337 2.532.585 2.532 1.479 0 .714-.867 1.097-1.934 1.192v.44h-.642v-.416c-.659-.006-1.353-.113-1.925-.304l.295-.686c.488.125 1.102.253 1.655.253.145 0 .284-.009.417-.028.737-.106.884-.602.07-.838zm-.187 16.019c3.783 0 7.708-.969 10-2.803v1.303c0 2.485-4.655 4.5-10 4.5-5.344 0-10-2.015-10-4.5v-1.304c2.292 1.835 6.217 2.804 10 2.804zm0-10c3.783 0 7.708-.969 10-2.803v1.303c0 2.485-4.655 4.5-10 4.5-5.344 0-10-2.015-10-4.5v-1.303c2.292 1.834 6.217 2.803 10 2.803zm0 5c3.783 0 7.708-.969 10-2.803v1.303c0 2.485-4.655 4.5-10 4.5-5.344 0-10-2.015-10-4.5v-1.304c2.292 1.835 6.217 2.804 10 2.804z"/></svg></h2>
            <h3>lives on less than 10$ a day</h3>
            <p></p>
        </div>
    </div>

    <div class="col-lg-3 myCardInfo">
        <h3 id="cardfront">Waht is the # 1 cause of death?</h3>
        <div id="cardhidden">
            <h2># 1<i style="float:right; position: relative; font-size: 40px; top: -5px; left: -15px; color: black;" class="fas fa-skull"></i></h2>
            <h3>Hunger is the number one cause of death in the world</h3>
            <p></p>
        </div>
    </div>
</div>




<!--
<div id="chart"></div>
<hr>
<button id="myButtonUpdateSVG" type="update">Update</button>
<button id="myButtonAddSVG" type="update">Add</button>

-->

<text id="text1">
    OMG
</text>

<p >There are </p>
<p >3 billion</p>
<p >children in the world</p>

<section class="containerTextAnimation">
    <h1>
        <span id="titleAnimationSpan1" class="titleTextAnimation">There are </span>
        <span id="titleAnimationSpan2" class="titleTextAnimation">3 billion</span>
        <span id="titleAnimationSpan3" class="titleTextAnimation">children in the world</span>
    </h1>

</section>





<div id="textStory">First everything was like so</div>
<svg width="960" height="500"></svg>
<button id="myButtonAddSVG" type="update">Add</button>

<!--<div id="childPov"></div>
<hr>
<button id="myButtonUpdateSVG2" type="update">Update</button>-->




<script src="../vendors/jquery/dist/jquery.min.js"></script>
<script src="../vendors/letteringjs/jquery.lettering-0.6.1.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.0/TweenMax.min.js"></script>

<script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

<script src="https://d3js.org/d3.v5.js"></script>


<script src="../build/js/layout.js"></script>
<script src="/build/js/poverty.js"></script>







