



<body class="scrollbody" data-spy="scroll" data-target="#myScrollspy" data-offset="1">
<div id="top" class="container-fluid">
  <div class="row">
    <div class="blackBackground col-xl-2">
      <nav id="myScrollspy">
        <ul class="nav nav-pills ">
          <div class="brWrapper">
            <br>
            <br>
            <br>
            <br>
            <br>
          </div>
          <li class="nav-item">
            <a class="enabled" (click)="onNavigate('section1')"><a class="nav-link active disabled" href="#section1">The argument</a></a>
          </li>
          <li class="nav-item">
            <a class="enabled" (click)="onNavigate('section2')"><a class="nav-link disabled"  href="#section2">Woman in the forrest</a></a>
          </li>
          <li class="nav-item">
            <a class="enabled" (click)="onNavigate('section3')"><a class="nav-link disabled"  href="#section3">First man prayed</a></a>
          </li>
          <li class="nav-item">
            <a class="enabled" (click)="onNavigate('section4')"><a class="nav-link disabled"  href="#section4">Berry gets Strawberry</a></a>
          </li>
          <li class="nav-item">
            <a class="enabled" (click)="onNavigate('section5')"><a class="nav-link disabled"  href="#section5">Final</a></a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="col-xl-10">
      <br>
      <br>
      <div data-aos="zoom-in" class="headlineStory"><h1>STRAWBERRY LOVE STORY</h1></div>
      <div data-aos="zoom-in" class="headlineStory"><h6>As told by Meadowlark Sanders</h6></div>
      <br id="section1" >
      <br>
      <br>
      <div class="row">
        <div class="col-lg-4">
          <img data-aos="zoom-in" class="myBackground" src="assets/strawberries5.jpg" alt="strawberries">
        </div>
        <div class="col-lg-8">
          <div class="section1">
            <div class="brWrapperNegative">
              <br>
              <br>
              <br>
            </div>
            <div data-aos="fade-left"><h3>The argument</h3></div>
            <br>
            <br>

            <div data-aos="zoom-in-down"><p>First man and First Woman had an argument.</p></div>
            <br>
            <br>
            <div data-aos="zoom-in-down"><p>First Man said to First Woman, "Why are you so lazy? I told you to have my meal ready hours ago." First Woman said,
              "If you would have gathered fire wood, it would be ready." First Man yelled, "That is women’s work!"</p></div>
            <br>
            <br>
            <div data-aos="zoom-in-down"><p>Then First Woman began to cry. This made First Man even more angry. "Why don’t you just leave if all you can do is cry?" he said. So she did.</p></div>
            <br>
            <br>
            <div data-aos="zoom-in-down"><p>She ran out the door of their lodge and through the clearing to the path at the edge of the forest. First Man paced the floor. "Good! He exclaimed,
              "I am glad she is gone." Then he looked out the door, thinking she was standing at the edge of the clearing. He stepped out of the door wagging his fist, he yelled, "And don’t come back!"</p></div>
            <br>
            <br>
          </div>
        </div>
    </div>
      <br>
      <br>
      <br>
      <br id="section2">
    <div class="brWrapper">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>

      <div class="row">
        <div class="col-lg-4 inMobileImg">
          <img data-aos="zoom-in" class="myBackground2" src="assets/strawberries3.jpg" alt="strawberries">
        </div>
        <div class="col-lg-6">
          <div class="section2">
            <div class="brWrapperNegative">
              <br>
              <br>
              <br>
            </div>
            <div data-aos="fade-right"><h3>Woman in the forrest</h3></div>

            <br>
            <br>

            <div data-aos="zoom-out-down"><p>
              First Woman ran deep into the forest. The sun began to sink behind the mountain. First Man had calmed down by now. When she did not come back, he walked to the edge of the clearing.
              Again he called her name.
            </p></div>
            <br>
            <br>
            <div data-aos="zoom-out-down"><p>
              Still she did not come. He began to call her name louder and louder. There was no response.
              The sky grew dark and the forest was darker. First Man returned to the lodge, thinking maybe she had slipped in while he was away. First Woman was not to be found.
            </p></div>
            <br>
            <br>
            <div data-aos="zoom-out-down"><p> "I will go look for her at daybreak," he thought as he lay down to sleep. But sleep did not come. All night long he tossed and turned thinking about the danger
              First Woman might encounter. He prayed for her safety.
            </p></div>
            <br>
            <br>
          </div>
        </div>
        <div class="col-lg-4 outMobileImg">
          <img data-aos="zoom-in" class="myBackground2" src="assets/strawberries3.jpg" alt="strawberries">
        </div>
      </div>
      <br>
      <br>
      <br>
      <br id="section3">
      <div class="brWrapper">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <img data-aos="zoom-in" class="myBackground" src="assets/strawberries4.jpg" alt="strawberries">
        </div>
        <div class="col-lg-8">
          <div class="section3">
            <div class="brWrapperNegative">
              <br>
              <br>
              <br>
            </div>
            <div data-aos="fade-left"><h3>First man prayed</h3></div>
            <br>
            <br>
            <div data-aos="zoom-out-right"><p>Early the next morning, before the sun rose over the trees, First Man prayed as he entered the forest. "Creator," I am so sorry for the things I said to First Woman.
              Please cause a patch of flowers to spring up in her path.
            </p></div>
            <br>
            <br>
            <div data-aos="zoom-out-right"><p>
              She will surely stop to smell them and I will be able to catch up to her and tell her how sorry I am." So the Creator placed a patch of
              beautiful flowers in her path. But she did not stop to smell them. In her anger, she kept walking fast.
            </p></div>
            <br>
            <br>
            <div data-aos="zoom-out-right"><p>First Man was fast on her tracks. He found the place where she had rested for the night. Shortly afterwards, he found the patch of beautiful flowers Creator had placed for her.
              He looked all around, but she was not to be found.
            </p></div>
            <br>
            <br>
          </div>
        </div>
      </div>

      <br>
      <br>
      <br>
      <br id="section4" >
      <div class="brWrapper">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>

      <div class="row">
        <div class="col-lg-4 inMobileImg">
          <img data-aos="zoom-in" class="myBackground2" src="assets/strawberries6.jpg" alt="strawberries">
        </div>
        <div class="col-lg-8">
          <div class="section4">
            <div class="brWrapperNegative">
              <br>
              <br>
              <br>
            </div>
            <div data-aos="fade-right"><h3>Berry gets Strawberry</h3></div>
            <br>
            <br>

            <div data-aos="zoom-out-left"><p> Again, he prayed, "Creator, she must be hungry by now. Please cause a patch of berries to spring up in her path, so when she stops to eat, I can catch up to her."
              Creator placed a patch of Blackberries in First Woman’s path. The berries were tempting, but the briars tore at her soft skin. She ran on.
            </p></div>
            <br>
            <br>
            <div data-aos="zoom-out-left"><p>
              Soon First Man came across the Blackberry Patch. Seeing she was not there, he prayed once more "Creator, I am such a fool. You know far better than I what would please First Woman.
              Would you choose something to put in her path to slow her down, so I can tell her how much I love her?"
            </p></div>
            <br>
            <br>
            <div data-aos="zoom-out-left"><p>Creator reached down to the beautiful flower patch and picked the most delicate white flower. He then reached over and picked some berries and pricked his finger on the thorns.
              Drops of blood turned the berries large, bright red and heart-shaped.
            </p></div>
            <br>
            <br>
            <div data-aos="zoom-out-left"><p>
              He placed the white flowers and the red berries in the path of First Woman.
              When First Woman saw the bright red berries and the delicate flowers she stopped to drink in their beauty.
            </p></div>
          </div>
            <br>
            <br>
        </div>
        <div class="col-lg-4 outMobileImg">
          <img data-aos="zoom-in" class="myBackground2" src="assets/strawberries6.jpg" alt="strawberries">
        </div>
      </div>


      <br>
      <br>
      <br>
      <br id="section5">
      <div class="brWrapper">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>


      <br>
        <br>
        <div class="row">
          <div class="col-lg-4">
            <img data-aos="zoom-in" class="myBackground" src="assets/strawberries2.jpg" alt="strawberries">
          </div>
          <div class="col-lg-8">
            <div class="section5">
              <div class="brWrapperNegative">
                <br>
                <br>
                <br>
              </div>
              <div data-aos="fade-left"><h3>Final</h3></div>
              <br>
              <br>
              <div data-aos="fade-down-left"><p>
                She saw no thorns so she tasted one of the berries. It was so sweet she sat down and began to eat her fill.
                She saw the berry was heart-shaped, so as she ate the berries she began to think of the sweet things First Man had done for her in the past.
              </p></div>
              <br>
              <br>
              <div data-aos="fade-down-left"><p>
                The more she ate, the more sweet things she remembered. Looking at the pure white flowers she remembered how pure her love for him had been.
                She began to sob. As she cried, she asked Creator to bring her husband to her, so she could tell him how sorry she was and how much she loved him.
              </p></div>
              <br>
              <br>
              <div data-aos="fade-down-left"><p>
              Just as she had finished praying, her husband appeared from behind a tree. They held each other, exchanged loving words and forgave each other.
              </p></div>
              <br>
              <br>
              <div data-aos="fade-down-left"><p>This is why the Cherokee always have fresh whole strawberries, jam and pictures in their home.
                It is a reminder not to argue with one another. Their heart-shape reminds us if we do slip and say something hurtful, to pray, ask for forgiveness and say loving words, just as First Man and First Woman did.
              </p></div>
              <br>
              <br>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</body>


